# Flutter / Dart / Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/captures/
*.iml
*.apk
*.jks
android/local.properties
android/.gradle/buildOutputCleanup/cache.properties


# Assets volumineux (non suivis par Git)
assets/
!assets/.keep


# Autres fichiers temporaires / système
*.DS_Store
*.swp
*.lock
*.tmp

# Fichiers générés automatiquement
.cxx
android/app/.cxx/
.flutter-plugins-dependencies

# .gitignore
ios/Pods/
ios/Runner.xcworkspace/


android/.gradle
build
