# Flutter / Dart / Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/captures/
*.iml
*.apk
*.jks
android/local.properties
android/.gradle/buildOutputCleanup/cache.properties

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# VS Code / IntelliJ / Xcode
.vscode/
.idea/
*.log
*.xcworkspace/
*.xcuserstate
*.xcodeproj/

# Assets volumineux (non suivis par Git)
assets/
!assets/.keep


# Autres fichiers temporaires / système
*.DS_Store
*.swp
*.lock
*.tmp

# Fichiers générés automatiquement
.cxx
android/app/.cxx/
